# Admission Prediction  (SVR)

In [28]:
import pandas as pd

## Data Injestion

In [29]:
df = pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [30]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

## EDA

In [31]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [32]:
df.columns = [col.strip() for col in df.columns]

In [33]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

### There is no null data in the dataset

In [36]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

### Standardization

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
scaler = StandardScaler()

In [39]:
scaler

StandardScaler()

In [40]:
X = df.drop("Chance of Admit", axis = 1)

In [41]:
X.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0

In [42]:
y = df['Chance of Admit']

In [43]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

### Splitting the data as train and test data

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.30, random_state=43)

In [45]:
X_train.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
257,258,324,100,3,4.0,5.0,8.64,1
203,204,334,120,5,4.0,5.0,9.87,1
22,23,328,116,5,5.0,5.0,9.50,1
397,398,330,116,4,5.0,4.5,9.45,1
429,430,340,115,5,5.0,4.5,9.06,1

In [46]:
y_train.head()

257    0.78
203    0.97
22     0.94
397    0.91
429    0.95
Name: Chance of Admit, dtype: float64

In [47]:
scaler.fit(X_train)  ## calculate te mean and std Deviation
print(scaler.mean_)

[246.73428571 316.80857143 107.26285714   3.11428571   3.34428571
   3.47714286   8.57185714   0.57428571]

In [48]:
X_train_transform = scaler.transform(X_train)

In [49]:
X_train_transform

array([[ 0.07964436,  0.641244  , -1.17100142, ...,  1.634508  ,
         0.11314324,  0.86098405],
       [-0.30211531,  1.53292219,  2.05362877, ...,  1.634508  ,
         2.15541431,  0.86098405],
       [-1.58171718,  0.99791528,  1.40870273, ...,  1.634508  ,
         1.54107261,  0.86098405],
       ...,
       [ 0.06550511, -0.87460892,  0.44131367, ...,  1.09784965,
        -0.33516017, -1.1614617 ],
       [ 0.52503065,  0.01706927, -0.20361236, ...,  0.02453295,
        -0.11931038,  0.86098405],
       [ 0.55330914, -0.16126637, -0.52607538, ..., -1.04878374,
        -0.40157548, -1.1614617 ]])

## SVR

In [50]:
from sklearn.svm import SVR

In [51]:
model = SVR()

In [52]:
model.fit(X_train_transform, y_train)

SVR()

#### Model is trained

## Check accuracy with respect to test

In [55]:
X_test_transform = scaler.transform(X_test)

In [56]:
y_predict = model.predict(X_test_transform)

In [57]:
y_predict

array([0.59182565, 0.67653655, 0.66299012, 0.8078455 , 0.54491339,
       0.70583707, 0.75634032, 0.76411297, 0.65126216, 0.69538157,
       0.84993433, 0.72677106, 0.72965912, 0.65034251, 0.82550996,
       0.78436098, 0.63579966, 0.81048685, 0.64588811, 0.66249839,
       0.87021338, 0.56419734, 0.50994344, 0.53438615, 0.79407681,
       0.89523876, 0.53519866, 0.52344088, 0.77402213, 0.70487368,
       0.71487926, 0.62998395, 0.61406228, 0.86271195, 0.86942323,
       0.59136828, 0.8775243 , 0.72863913, 0.52328463, 0.57227353,
       0.68483239, 0.70780018, 0.49895466, 0.49931844, 0.85683145,
       0.78489012, 0.53593212, 0.63448754, 0.67101121, 0.46158284,
       0.8922359 , 0.53643326, 0.55769432, 0.53510052, 0.60213181,
       0.64762964, 0.6481537 , 0.62198205, 0.60679751, 0.83948125,
       0.51038848, 0.71228284, 0.8786237 , 0.67184342, 0.83103178,
       0.59157274, 0.65591563, 0.89054481, 0.59454253, 0.89327978,
       0.69738988, 0.57616665, 0.74122941, 0.61186344, 0.63852774,
       0.78079884, 0.86610703, 0.79616366, 0.89597241, 0.73836233,
       0.60289884, 0.81112893, 0.79172116, 0.77001618, 0.74747961,
       0.76424802, 0.53988041, 0.60173899, 0.84817508, 0.61431631,
       0.87187068, 0.7852636 , 0.86127559, 0.76958624, 0.79991931,
       0.62469391, 0.75547063, 0.62241797, 0.68542069, 0.58212327,
       0.76051788, 0.73341648, 0.74682444, 0.70417892, 0.6114729 ,
       0.62970836, 0.72969308, 0.78893194, 0.77358089, 0.74101651,
       0.69916836, 0.57379369, 0.64794517, 0.52418069, 0.81445111,
       0.77829355, 0.85540445, 0.76655479, 0.54027547, 0.70462083,
       0.76202384, 0.65082145, 0.88077511, 0.490551  , 0.65520911,
       0.85673389, 0.82660956, 0.83679137, 0.91159483, 0.72609465,
       0.68097988, 0.83926962, 0.82528472, 0.62720817, 0.74440867,
       0.82111518, 0.7874548 , 0.6923171 , 0.53701685, 0.50717547,
       0.55124135, 0.85772106, 0.72221464, 0.68007808, 0.70092683,
       0.66664512, 0.60845239, 0.56328378, 0.62928734, 0.84812152])

#### Comparing above predicted data with actual data

In [63]:
y_test

17     0.65
127    0.78
363    0.69
82     0.92
60     0.48
       ...
256    0.76
179    0.73
36     0.64
462    0.62
432    0.86
Name: Chance of Admit, Length: 150, dtype: float64

In [64]:
from sklearn.metrics import r2_score

In [65]:
r2_sc = r2_score(y_test, y_predict)

In [66]:
r2_sc

0.775304978751461

In [72]:
adjusted_r2 = 1-((1-r2_sc)*(len(y_test)-1))/(len(y_test)-(X_test.shape[1])-1)

In [73]:
adjusted_r2

0.7625563250636006